
body {
   margin:0;
   
  }

/****************   Nav Section **********************/
nav {
	display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 40px;
  padding: 0 20px;
  font-style: italic;
  background-color: rgb(229, 232, 229);
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
	background-color: rgb(48, 78, 49);
}

/*********** Splash Page ************************/
.splash {
position: relative;
padding-bottom: 55px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(135deg, #194508, #111827);
color:white;
text-align: center;  
}

.splash h1 {
  position: absolute;
  top: 20%;
  left: 50%;       
  font-family: libre baskerville, serif;
  color: white;
  transform: translateX(-50%); 
  font-size: 5.0rem;       
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);  
}

.Headshot {
  position: absolute;
  bottom: -125px;
  left:5%;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}
.address {
font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  background: rgba(128, 128, 128, 0.566);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;   

}

.tagline {
font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  background: rgba(128, 128, 128, 0.566);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px; 
}
  

/************* Sections ********************/
hr {
border: none;
height: 2px;
background: linear-gradient(135deg, #194508, #111827);
margin: 163px 0 20px;
}
section {
  margin-bottom: 1rem;
}
.columns_container {
  display: flex;
  flex-wrap: wrap;
  gap: 25%;
 justify-content: center;
}

#education,
#honors_and_awards {
 flex: 0 0 45%;
 max-width: 600px;
 margin-top: 5rem;
}

#skills,
#leadership_and_experience{
  flex: 0 0 45%;
  max-width: 600px;

}
section h3 {
  font-family:'Courier New', Courier, monospace;
  color: #1d5805;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

section dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

section ul {
padding-left: 2rem;
list-style-type: square;
}

section a {
  text-decoration: none; /* removes underline */
  color: #194508;
}

section a:hover {
  text-decoration : underline;
}

/**************   Projects   *****************/

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
} 

.three-col div{
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.566);
}

.card img {
 width: 270px;
 height: 250px;
 object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
padding: 85px;
gap: 2em;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit
}

textarea {
   min-height: 8rem;
   width: 100%;
}